module.exports = {
    "root": true,
    "extends": [
        "eslint:recommended",
        "plugin:vue/recommended"
    ],
    "env": {
        "browser": true,
        "es6": true
    },
    "rules": {
        // enable additional rules
        // "indent": ["error", 4],
        // "linebreak-style": ["error", "unix"],
        // "quotes": ["error", "double"],
        // "semi": ["error", "always"],

        // override default options for rules from base configurations
        // "comma-dangle": ["error", "always"],
        // "no-cond-assign": ["error", "always"],

        // disable rules from base configurations
        "no-console": "off",
        "no-undef": "off",
        "no-unused-vars": "off",
        "no-useless-escape": "off",
        "no-redeclare": "off",
        "no-extra-semi": "off",
        "no-octal": "off",
        "no-empty": "off",
        "no-mixed-spaces-and-tabs": "off",
        "no-irregular-whitespace": "off",
        "no-sparse-arrays": "off",
        "no-cond-assign": "off",

        "vue/require-v-for-key": "off",
        "vue/no-confusing-v-for-v-if": "off",

        "no-dupe-keys": "off",
        "vue/no-textarea-mustache": "off",
        "vue/valid-v-if": "off",
        "vue/no-parsing-error": "off",
        "vue/valid-v-bind": "off",
        "vue/valid-v-model": "off"
    }
}
