.DS_Store
._.DS_Store
node_modules
/dist

/test/e2e/reports/
selenium-debug.log

# local env files
.env.local
.env.*.local

/config/develop.en

.remote-sync.json



# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
.project
.svn
.git
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.zip
*.tar
*.gz
*.log
*.apk
